<div id="<%= dom_id structure %>">
  <p>
    <strong>Admin teacher:</strong>
    <%= structure.admin_teacher_id %>
  </p>

  <p>
    <strong>Moment reference:</strong>
    <%= structure.moment_reference %>
  </p>

</div>
