<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <h4 class="mt-5"><%= student.full_name %></h4>
            <p class="card-text"><%=  student.email %></p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <%= link_to "Revisar", student %>
                </div>
            </div>
        </div>
    </div>
</div>