<h3>Pasos</h3>
<div>
    <td>
        <%= form.check_box :step1 %>
        Representacion<br>   
    </td>
    <td>
        <%= form.check_box :step3 %>
        DCL<br>    
    </td>
    <td>
        <%= form.check_box :step4 %>
        Ecuaciones<br>    
    </td>
</div>