
<br />
<div class="jumbotron text-center">
  <h2>Problems</h2> 
</div>
<br />

<div class="container">
    <div class="row">
        <% @problems.each do |problem| %>
            <%= render "problem_resume", problem: problem %>
        <% end %>
    </div>
</div>

<div class="container">
  <td>
    <%= link_to "New problem", new_problem_path, :class => "btn btn-primary" %>    
  </td>
</div>

