<head>
    <meta name=viewport content="width=device-width,initial-scale=1">  
    <meta charset="utf-8"/>
</head>

<div class="jumbotron text-center">
  <h2>New problem</h2> 
</div>

<div class="container">
  <%= render "form", problem: @problem %>
  <br>
  <div>
    <td>
      <%= link_to "Back to problems", problems_path, :class => "btn btn-primary" %>    
    </td>
  </div>
</div>