<div id="<%= dom_id admin_teacher %>">
  <p>
    <strong>Full name:</strong>
    <%= admin_teacher.full_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= admin_teacher.email %>
  </p>

</div>
