

<div class="jumbotron text-center">
  <h2>Editing admin teacher</h2> 
</div>

<div class="container">
  <%= render "form", admin_teacher: @admin_teacher %>
  <br>
  <div>
    <td>   
      <%= link_to "Show this admin teacher", @admin_teacher, :class => "btn btn-primary" %> 
      <%= link_to "Back to admin teachers", admin_teachers_path, :class => "btn btn-primary" %>
    </td>
  </div>
</div>