<h1>Editing admin teacher</h1>

<%= render "form", admin_teacher: @admin_teacher %>

<br>

<div>
  <%= link_to "Show this admin teacher", @admin_teacher %> |
  <%= link_to "Back to admin teachers", admin_teachers_path %>
</div>
