<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h2>Editing admin teacher</h2> 
</div>

<div class="container">
  <%= render "form", admin_teacher: @admin_teacher %>
  <br>
  <div>
    <td>   
      <%= link_to "Show this admin teacher", @admin_teacher, :class => "btn btn-primary" %> 
      <%= link_to "Back to admin teachers", admin_teachers_path, :class => "btn btn-primary" %>
    </td>
  </div>
</div>