  
<div class="jumbotron text-center">
  <h2>Admin Teachers</h2> 
</div>
  
<div id="admin_teachers">
  
  <div class="container">
    <div class="row">
      <% @admin_teachers.each do |admin_teacher| %>
        <div class="col-sm-4">
          <%= render admin_teacher %>
          <p>
          <%= link_to "Show this admin teacher", admin_teacher %>
          </p>
          <br>
        </div>
      <% end %>   
    </div>
  </div>
</div>

<div class="container">
  <td>
    <%= link_to "New admin teacher", new_admin_teacher_path, :class => "btn btn-primary" %>
  </td>
</div>

</body>
</html>

