

<div class="jumbotron text-center">
  <h2>Admin Teacher</h2>
</div>

<div class="container">
<p style="color: green"><%= notice %></p>
<h3> Teacher N°: <%= @admin_teacher.id %></h3>
<%= render @admin_teacher %>

<br>
</div>