<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">DCLITS</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><%= link_to "Admin Teacher", admin_teachers_url %>
            <li><%= link_to "Problems Available", problems_url %>
        </ul>
    </div>
</nav>